body{
  font-family: 'Inter', sans-serif;
}


.nav{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  gap: 40px;
  justify-content: end;
  padding-bottom: 150px;
  padding-right: 50px;
}

.heading-1{
  font-size: 40px;
}

.img{
  width: 100%;
}

.parent-div1{
  max-width: 855px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.button{
  font-size: 20px;
  height: 40px;
  width: 200px;
  color: #FFFFFF;
  background-color: #FF6464;
  border: none;
}

.View-all{
  color: 
  #00A8CC;
}

.background{
  background-color: #EDF7FA;
}

.parent-div2{
max-width: 855px;
margin: 0 auto;
background-color: #EDF7FA;
align-items: center;
justify-content: center;
gap: 20px;
padding-bottom: 25px;
}

.Both{
  display: flex;
  justify-content:space-between;
  justify-content: center;
  gap: 650px;
}
 
.Box{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box1{
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.box2{
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date-1{
  display: flex;
  gap: 20px;
}

.date-2{
  display: flex;
  gap: 20px;
}

.parent-div3{
  max-width: 855px;
  margin: 0 auto;
}

.F{
  color: #21243D;
  font-size: 22px;
}

.pic1{
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
}

.both2{
  display: flex;
  gap: 30px;
}

.btn1{
background: #0A238C ;
color: white;
border-radius: 20px;
border: none;
margin-top: 16px;
}

.Dashboard{
  color: #8695A4;
}

.pic2{
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
}

.both3{
  display: flex;
  gap: 30px;
}

.btn2{
  background: #0A238C ;
  color: white;
  border-radius: 20px;
  border: none;
  margin-top: 16px;
  }

  .Illustration{
    color: #8695A4;
  }

  .pic3{
    display: flex;
    gap: 30px;
    padding-bottom: 40px;
  }
  
  .both4{
    display: flex;
    gap: 30px;
  }
  
  .btn3{
    background: #0A238C ;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 16px;
    }
  
    .Typography{
      color: #8695A4;
    }

    .end{
      display: flex;
      gap: 40px;
      padding-top: 150px;
      justify-content: center;
    }

    .copyright{
     display: flex;
     justify-content: center;
     padding-bottom: 30px ;
    }

    .D{
      font-size: 30px;
      margin: 0;
    }

    .v{
      font-size: 30px;
      margin: 0;
    }

    .m{
      font-size: 30px;
      margin: 0;
    }

       









